#この設定ファイルのバージョン
#現在は特に利用していないが、将来的にはこのフォーマットバージョンをチェックするようにしたい。
FORMATVERSION=1.0

# -------------------------------------------------
# ユーザ設定変数
# -------------------------------------------------

# ログ出力先を設定する
LOG_FILE=./log/albumgen.log

# サムネイルの表示列を設定する
# デフォルト値は6
COLUMN_NUMBER=6

# 表示する画像のサイズを設定可能。
# 横の値を設定することが可能。（縦は自動計算される）
# 0を設定すると、オリジナル画像のサイズが適用される（変換しない）
IMG_WIDTH=800

# サムネイル画像の大きさを設定可能。
# 横の値を設定することが可能。（縦は自動計算される)
THUMBNAIL_WIDTH=100

# -------------------------------------------------
# SW動作環境設定
# 通常は以下の値を変更する必要はない。
# -------------------------------------------------
# 内部ディレクトリ仕様
#　.tmp/src
#    →zipファイルを展開するディレクトリ
#  .tmp/album
#    -  album.html
#    +- img
#    |  - XXXXX.JPG   //画像ファイルの実体
#  「album」は、引数を変更することにより、自由に変更可能。

# 一時作業ディレクトリ名
TMP_DIR_NAME=.tmp

# Zipファイルを展開するための一時ディレクトリ名
ZIP_EXTRACT_DIR_NAME=src

# 出力結果を一時的に保存するための一時ディレクトリ名
HTML_WORK_DIR_NAME=album

# 画像の実体を保存するためのalbumの内部の保存ディレクトリ名
IMG_STORED_DIR_NAME=img

# 出力結果の名前を設定する。
ALBUM_NAME=album

# 出力結果(デフォルトAlbum.zip)の格納先ディレクトリを指定する
OUTPUT_DIR=./datastore

# 一時作業ディレクトリ名
TMP_ZIP_STORED_DIR=.zip